/*点击访问授权码动画。*/
.b3-dialog__container {
    transform: scale(1);
    opacity: 0;
    transition: opacity 1s linear, transform 2s 0ms cubic-bezier(.28, 1, .6, 1);
}

/*表格*/

/* 设置表格内部边框｜来自min-verse */
th,
td {
    border: 1px solid rgba(64, 77, 83, 1) !important;
    border-collapse: collapse;
    color: inherit;
}

/*点击图片块图片阴影。*/
.protyle-wysiwyg [data-node-id] .img--select {
    filter: brightness(0.925);
}

/*图片块。*/
.b3-typography img,
.protyle-wysiwyg img {
    max-width: 100%;
    margin: 6px 1px 6px 1px;
    border-radius: 20px;
}

/*引述块｜来自Dark+*/

.b3-typography blockquote,
.protyle-wysiwyg .bq {
    background-color: rgba(236, 235, 240, 1);
}

/*块｜来自min-verse*/
.protyle-wysiwyg [data-node-id] {
    border-radius: 25px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg p,
.protyle-wysiwyg [data-node-id] {
    line-height: 1.625;
    padding: 10px 10px;
    margin: 5px 0px;
}

/*块标图标。*/
.protyle-gutters button svg {
    height: 30px;
    margin: 7.5px 0px 7.5px 0px;
}

/*修改块链接块“资源”背景色。*/
.b3-menu__item--show {
    background-color: #ececed;
}

/*选择块点击颜色。*/
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
    background-color: #FFFFFF !important;
    box-shadow: 7px 0 25px rgba(16, 16, 25, 0.07) !important;
}

/*鼠标悬浮块时背景。*/
.protyle-wysiwyg--hl,
.protyle-wysiwyg--hl .hljs {
    background-color: #FFFFFF !important;
}

/* 调整超级块中元素间距｜来自Dark+ */
.protyle-wysiwyg div.sb[data-node-id] {
    margin: -2.5px;
    /* margin-bottom: 0px; */
}

.protyle-wysiwyg div.sb[data-node-id] div.sb[data-node-id] {
    border-radius: 25px;
    margin: 5px 5px;
}

/*嵌入块背景。*/
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    background-color: rgba(236, 235, 240, 1);
    border-left: 0px dashed var(--b3-theme-surface-lighter);
}

/* 设置自定义文字介绍｜来自min-verse */
.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color1)"]:before {
    content: "水";
    /*color: var(--b3-font-color1);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color2)"]:before {
    content: "蓝";
    /*color: var(--b3-font-color2);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color3)"]:before {
    content: "绿";
    /*color: var(--b3-font-color3);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color4)"]:before {
    content: "紫";
    /*color: var(--b3-font-color4);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color5)"]:before {
    content: "黄";
    /*color: var(--b3-font-color5);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color6)"]:before {
    content: "橙";
    /*color: var(--b3-font-color6);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color7)"]:before {
    content: "粉";
    /*color: var(--b3-font-color7);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color8)"]:before {
    content: "桃";
    /*color: var(--b3-font-color8);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color9)"]:before {
    content: "荔";
    /*color: var(--b3-font-color9);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color10)"]:before {
    content: "红";
    /*color: var(--b3-font-color10);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color11)"]:before {
    content: "央";
    color: #FDFFFD;
    /*color: var(--b3-font-color11);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color12)"]:before {
    content: "黑";
    color: #FDFFFD;
    /*color: var(--b3-font-color12);*/
}

.b3-color__square[data-type="color"][style="background-color:var(--b3-font-color13)"]:before {
    content: "白";
    color: #0C0C0C;
    /*color: var(--b3-font-color13);*/
}

/* 自定义文字背景介绍｜来自min-verse */
.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background1)"]:before {
    content: "水";
    /* color: var(--b3-font-color1); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background2)"]:before {
    content: "蓝";
    /* color: var(--b3-font-color2); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background3)"]:before {
    content: "绿";
    /* color: var(--b3-font-color3); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background4)"]:before {
    content: "紫";
    /* color: var(--b3-font-color4); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background5)"]:before {
    content: "黄";
    /* color: var(--b3-font-color5); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background6)"]:before {
    content: "橙";
    /* color: var(--b3-font-color6); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background7)"]:before {
    content: "粉";
    /* color: var(--b3-font-color7); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background8)"]:before {
    content: "桃";
    /* color: var(--b3-font-color8); */
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background9)"]:before {
    content: "荔";
    /*color: var(--b3-font-color9);*/
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background10)"]:before {
    content: "红";
    /*color: var(--b3-font-color10);*/
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background11)"]:before {
    content: "央";
    color: #FDFFFD;
    /*color: var(--b3-font-color11);*/
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background12)"]:before {
    content: "黑";
    color: #FDFFFD;
    /*color: var(--b3-font-color12);*/
}

.b3-color__square[data-type="backgroundColor"][style="background-color:var(--b3-font-background13)"]:before {
    content: "白";
    color: #0C0C0C;
    /*color: var(--b3-font-color13);*/
}

/* 将自定义文字取消加粗｜来自OneNote */
strong[style="color: var(--b3-font-color1);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color2);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color3);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color4);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color5);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color6);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color7);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color8);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color9);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color10);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color11);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color12);"] {
    font-weight: normal;
}

strong[style="color: var(--b3-font-color13);"] {
    font-weight: normal;
}

/* 分割线｜来自OneNote */
.protyle-wysiwyg [data-node-id].hr>div {
    border-bottom: 1px solid #F989B1;
}

/*选字颜色、背景｜来自九炎、吃星尘的羊帮助*/
::selection {
    color: #FDFFFD !important;
    background: #F989B1 !important;
}

/*编辑器搜索出文字颜色｜手机端*/
mark {
    background-color: rgb(250, 237, 182, 1);
    color: rgb(12, 12, 12, 1);
}

/*行内备注内容框、标题框圆角+颜色｜手机端。*/
.b3-text-field {
    border-radius: 10px !important;
    box-shadow: inset 7px 0 25px rgba(16, 16, 25, 0.07) !important;
    background-color: #F3F3F3;
}

/*关于界面链接颜色*/
a {
    outline: 0;
    text-decoration: none;
    color: #F989B1 !important;
}

/*字号条*/
.b3-slider {
    -webkit-appearance: none;
    border-radius: 10px;
    height: 15px;
    background-color: #F989B1;
    padding: 0 5px;
}

/*有序列表、无序列表、任务列表、代码块。*/
.protyle-wysiwyg [data-node-id].li>.protyle-action {
    left: px;
    position: absolute;
    width: 40px;
    top: 6px;
    transition: var(--b3-transition);
    color: #101A1B;
    justify-content: center;
    display: flex;
    align-items: center;
}

/*自定义表情标题*/
.b3-list-item__icon svg,
.b3-list-item__icon img {
    float: center;
    margin: 2.5px 0px 0px 0px;
    height: 20px;
    width: 20px;
    border-radius: px;
}

/*键盘属性*/
.b3-typography kbd,
.b3-typography span[data-type~=kbd],
.protyle-wysiwyg kbd,
.protyle-wysiwyg span[data-type~=kbd] {
    padding: 2px 4px;
    font: 75% Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1;
    color: var(--b3-theme-on-surface);
    vertical-align: middle;
    background-color: rgba(236, 235, 240, 1);
    border: solid 1px var(--b3-border-color);
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 var(--b3-border-color);
}

/*关于界面访问码等框*/
.b3-button--outline {
    color: #0C0C0C;
    box-shadow: inset 0 0 0 0px #0C0C0C;
    background-color: #F3F3F3;
    margin: 4px 0px 4px 0px;
}

/*更多--设置--搜索，这些按钮四尾底色。*/
.b3-switch:checked {
    background-color: #F3F3F3;
}

/*更多--设置--搜索，这些按钮。*/
.b3-switch {
    background-color: #F3F3F3;
}

/*iframe右下角线。*/
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag {
    height: 32px;
    width: 6.5px;
    background-color: #fb7299;
    display: none;
    border-radius: 10px;
    cursor: nwse-resize;
    transition: var(--b3-transition);
    position: absolute;
    right: 30px;
    bottom: 30px;
    box-shadow: 0 0 0px 0px #fb7299;
    box-sizing: border-box;
}

.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag::after {
    height: 6.5px;
    background-color: #fb7299;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #fb7299;
}

.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag:hover,
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag:hover:after {
    background-color: #fb7299;
    box-shadow: 0 0 0px 0px #fb7299;
}

/*iframe框*/
.b3-typography iframe,
.protyle-wysiwyg iframe {
    border: 1px solid #F989B1;
    box-sizing: border-box;
    height: 400px;
    max-width: 100%;
    vertical-align: bottom;
    border-radius: 25px;
}

/*图片框下线。*/
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag:hover {
    background-color: #fb7299;
    box-shadow: 0 0 0px 0px var(--b3-theme-on-background);
}

.protyle-wysiwyg [data-node-id] .img .protyle-action__drag {
    height: 32px;
    width: 6.5px;
    background: #fb7299;
    display: none;
    border-radius: 10px;
    cursor: col-resize;
    transition: var(--b3-transition);
    position: absolute;
    bottom: 15px;
    right: 15px;
    box-shadow: 0 0 0px 0px var(--b3-theme-on-surface);
    box-sizing: border-box;
    z-index: 1;
}

/*面包屑。*/
.layout-tab-bar {
    background-color: #F3F3F3;
}

.toolbar--border input#toolbarName:hover {
    border-color: rgba(236, 235, 240, 0);
}

/*面包屑下划线。*/
.layout-tab-bar .item--focus:after {
    background-color: #FFFFFF !important;
}

/*正文标题|电脑端。*/
.protyle-title__input {
    background: #FFFFFF;
}

/*搜索框。*/
.search__header .b3-text-field--text {
    height: 40px;
    line-height: 32px;
    border-radius: 0;
    padding: 0px 15px 0px 72.5px !important;
    margin: 9px 15px 8px 9px;
}

/*搜索框图标。*/
.search__header .b3-form__icon-icon {
    top: 21.5px;
    left: 26px;
}

.search__arrowdown {
    height: 10px;
    width: 10px;
    left: 55px;
    top: 25px;
}

/*搜索框。*/
.search__header {
    border-bottom: 0px solid var(--b3-theme-surface-lighter);
    background: #F3F3F3;
}

/*标题栏点击后出现框｜手机端。*/
.b3-text-field:hover {
    border-color: #FAF9FE;
}

/*设置访问授权码等点击后出现框。*/
.b3-button--outline:hover,
.b3-button--outline:focus {
    background-color: #F3F3F3;
    box-shadow: inset 0 0 0 0px #EDECF1;
}

/*设置黑点。*/
.b3-switch:checked:after {
    background-color: #101A1B;
    border-color: #101A1B
}

/*集市分类分隔线。*/
.layout-tab-bar .item:not(:last-child),
.layout-tab-bar .item:last-child:not(.item--focus):not(.item--readonly) {
    box-shadow: 2px -26px 0px 0px #F3F3F3, 1px -4px 1px 0px rgba(243, 243, 243, 0);
}

/*外观点击后出现框。*/
.b3-select:focus {
    box-shadow: 0 0 0 0px var(--b3-theme-primary-lighter);
}

/*主题选择等框。*/
.b3-select {
    background-color: #F3F3F3;
    margin: 4px 0px 4px 0px;
    height: 40px;
}


/*代码块对齐、圆角。*/
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
    border-radius: 0 25px 25px 0;
    padding: 40px 0px 30px 0px;
    font-size: 90%;
    overflow: auto;
    font-family: var(--b3-font-family-code);
    overflow-x: overlay;
}

/*代码块背景颜色。*/
.b3-typography div.hljs,
.protyle-wysiwyg div.hljs {
    background: #F3F3F3 !important;
}

.protyle-linenumber__rows {
    background: #F3F3F3 !important;
    font-size: 90%;
    top: 10px;
    left: 12px;
    width: 62.5px;
    padding: 40px 17px 30px 0px;
}

/*行内备注颜色背景。*/
.b3-typography span[data-type~=inline-memo],
.protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: #FAEDB6;
    border-bottom: 1.5px solid #F989B1;
}

/*代码块字颜色。*/
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #404D53 !important;
}

/*代码块语言栏位置。*/
.b3-typography .code-block .protyle-action,
.protyle-wysiwyg .code-block .protyle-action {
    left: 15.5px;
    top: 20px;
    right: 30px;
}

/*代码块调出块菜单时ui。*/
.protyle-wysiwyg--hl .protyle-linenumber__rows,
.protyle-wysiwyg--select .protyle-linenumber__rows.protyle-wysiwyg--hl .protyle-linenumber__rows,
.protyle-wysiwyg--select .protyle-linenumber__rows {
    background-color: rgba(230, 240, 240, 1) !important;
}

/* 块标切换动画，来自于Notion主题 */
.protyle-gutters {
    transition: all 200ms ease-out;
}

/*目录界面线条*/
.toolbar--border {
    border-bottom: 1px solid rgb(0 0 0 / 0%);
}

/*手机端顶菜单栏。*/
.toolbar--dark {
    background-color: #F3F3F3 !important;
}

/*文档树等图标等点击｜手机端。*/
.toolbar__icon--active {
    background-color: rgb(0 0 0 / 0%);
    color: #404D53;
}

/*目录等图标点击颜色｜手机端。*/
.b3-list-item__icon:hover {
    color: var(--b3-theme-on-background);
    background-color: rgb(0 0 0 / 0%);
    border-radius: 2px;
}

/*侧栏笔记本目录。*/
.b3-list-item {
    line-height: 30px;
    padding: 10px 10px 10px 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    border: 0px;
    color: var(--b3-theme-on-background);
    margin: 2.5px 20px;
}

/*文档树等图标点击｜电脑端。*/
.dock__item--activefocus {
    color: #404D53 !important;
    background-color: #404D53 !important;
}

/*电脑端菜单顶栏＋手机端标题背景。*/
.toolbar {
    background-color: #FAF9FE;
}

/*标题｜手机端。*/
.toolbar__title {
    flex: 1;
    padding: 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 105%;
    vertical-align: middle;
    font-family: var(--b3-font-family);
    outline: none;
}

/*顶栏图标颜色。*/
.toolbar__item {
    color: #101A1B;
}

/*设置界面线条。*/
.b3-label {
    border-bottom: 1px solid rgb(0 0 0 / 0%);
}

/*笔记内容菜单。*/
.b3-menu__separator {
    background-color: #F3F3F3;
}

.b3-menu__item--current {
    background-color: #F3F3F3;
}

/*电脑端删除笔记本界面＋点击访问授权码界面确认文字颜色。*/
.b3-button--text,
.b3-button--cancel {
    color: #0C0C0C;
    background-color: rgb(0 0 0 / 0%);
}

/*电脑端删除笔记本界面＋点击访问授权码界面线。*/
.b3-dialog__header {
    border-bottom: 0px solid var(--b3-theme-surface-lighter);
}

.b3-dialog__action {
    border-top: 0px solid var(--b3-theme-surface-lighter);
}

/*笔记本设置界面复制id|手机端。*/
.b3-button:active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0);
}

.b3-button:hover,
.b3-button:focus,
.b3-button--progress {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0);
}

/*笔记本设置界面复制id|手机端＋帐号管理界面账号管理＋登出＋注销账号＋刷新图标。*/
.b3-button {
    color: #101A1B;
    line-height: 32.5px;
}

/*点击笔记本···等图标背景颜色。*/
.b3-list-item__action:hover {
    background-color: rgb(0 0 0 / 0%);
}

/*集市更新图标颜色。*/
.ft__primary {
    color: #404d53;
}

/*侧栏圆形头像。*/
#menu img.b3-list-item__graphic {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-left: -25px;
    margin-right: 10.25px;
    box-shadow: inset 0 0 0 20px rgb(0 0 0 / 0%), 0 0 0 5px #F3F3F3;
}

/*消息框。｜手机端。*/
.b3-snackbar__content {
    color: #404D53;
    box-shadow: 7px 0 25px rgba(16, 16, 25, 0.07);
    background-color: #ececed;
}

/*头像界面用户名。*/
.fn__a {
    text-align: center;
}

/*账号管理头像|手机端。*/
#model .config-account__avatar {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 3px 6px 0 rgba(236, 235, 240, 1), 0 -5.5px 6px 0 rgba(249, 137, 177, 1);
    background-image: radial-gradient(circle, rgba(250, 223, 222, 1), #F9DAD2, #7C73FE);
}

/*账号管理界面头衔|手机端。*/
.b3-chip {
    background-color: #F3F3F3;
    color: var(--b3-theme-on-background);
}

/*点击访问授权码动画＋背景。*/
.b3-dialog__container {
    transform: scale(1);
    opacity: 0;
    transition: opacity 1s linear, transform 2s 0mscubic-bezier(.28, 1, .6, 1);
    background-color: #F3F3F3;
}

/*侧栏已关闭笔记本高度｜手机端。*/
ul.b3-list.b3-list--background.fn__flex-column {
    height: 55px !important;
}

/*反链链接界面“提及”。*/
.toolbar__text {
    height: px;
}

/*账号管理界面账号管理栏。*/
#model .config-account__info {
    height: 120px;
}

/*已经建立块提示。*/
.status {
    text-indent: 30px;
}

/*/面板模板图标颜色＋重置数据仓库提醒颜色。*/
.ft__error {
    color: var(--b3-theme-on-background) !important;
}

/*笔记内容右上菜单点击出现背景。*/
.block__icon:hover:not([disabled]):not(.ft__primary),
.block__icon--active {
    background-color: rgba(230, 240, 240, 0);
}

/*笔记内容右上菜单“模式切换”子菜单。*/
.b3-menu__item--show .b3-menu__submenu {
    border: 1px solid rgb(0 0 0 / 0%);
}

/*笔记内容右上菜单子菜单“所见即所得”文字颜色。*/
.b3-menu__item--selected {
    color: var(---b3-theme-error);
}

/*索引+数据历史背景。*/
.b3-dialog__scrim {
    background: linear-gradient(#FFFFFF, #101A1B);
}

/*激活码确认等文字。*/
.b3-button--white {
    background-color: rgb(1, 1, 1, 0);
}

/*头题图+正文滚动。*/
.protyle-content {
    overflow-y: scroll;
}

.protyle-background__img img {
    margin: 10px 0px 0px 0px;
}

/*头题图表情。*/
.protyle-background__icon {
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    font-family: var(--b3-font-family-emoji);
    margin-right: 16px;
}

/*头题图标签内边距。*/
.protyle-background__tags {
    padding: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

/*头题图单标签。*/
.protyle-background__tags .item {
    margin: 5px 5px 5px 5px;
}

/*头题图标签选择背景＋侧栏笔记本选择点击背景。。*/
.b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
    background-color: #F3F3F3;
}

/*头题图点击菜单。*/
.protyle-icon {
    background-color: #F3F3F3;
    color: #101A1B;
}

.protyle-icon:hover {
    color: #101A1B;
    background-color: #F3F3F3;
}

/*正文顶部面包屑。*/
.protyle-breadcrumb__item {
    line-height: 20px;
    margin: 5px 0;
}

.protyle-breadcrumb {
    background-color: #FFFFFF;
}

/*手机单个面包屑。*/
.protyle-breadcrumb__item:hover,
.protyle-breadcrumb__item--active {
    color: #101A1B;
    background-color: #FFFFFF;
}

/*侧栏点击标题颜色。*/
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
    background-color: rgba(16, 16, 25, 0.05);
}

/*侧栏空白处阴影。*/
.scrim {
    background-color: rgb(0 0 0 / 2.5%);
}

/*左侧栏|手机端。*/
.fn__flex-1.b3-list--mobile {
    background-color: #FFFFFF;
}

/*右侧栏|手机端。*/
.side-panel {
    background-color: #FFFFFF;
}

/*左右边框|电脑端。*/
.dock {
    background-color: #FAF9FE;
}

/*文档树边框|电脑端。*/
.layout-tab-container {
    background-color: #FAF9FE;
}

/*正文。*/
.protyle {
    background-color: #FFFFFF;
}

/*设置右面板。*/
.b3-tab-container {
    background-color: #FAF9FE;
}

/*集市主题浏览。*/
.b3-card {
    background-color: #FAF9FE;
}

/*集市主题下载。*/
.config-bazaar__readme {
    background-color: #FAF9FE;
}

/*账号右栏|电脑端。*/
.config-account__center--text {
    background-color: #FAF9FE;
}

/*数据历史左右图标。*/
.block__icon {
    margin: 1.5px 0px 0px 0px;
}

/*数据历史搜索框。*/
.b3-text-field {
    margin: 4px 0px 4px 0px;
}

/*数据历史搜索框图标。*/
.b3-form__icon-icon {
    top: 10.5px;
}

/*属性在块的显示ui。*/
.protyle-attr {
    top: -20px;
    left: 40px;
}

/*功能块右上菜单。*/
.protyle-icons {
    top: 20px;
    right: 20px;
}

/*工具栏功能使用颜色｜手机端。*/
.protyle-toolbar__item--current {
    color: #F989B1;
}

/*工具栏。｜手机端*/
.protyle-toolbar {
    background-color: #ececed;
}

#keyboardToolbar {
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #F3F3F3;
    z-index: 221;
    display: flex;
    border-top: 0px solid var(--b3-theme-surface-light);
    box-shadow: inset 7px 0 25px rgba(16, 16, 25, 0.07) !important;
}